.tm-banner-inner > img{
    width: 15%;
}

p.tm-banner-text{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.tm-banner-text::first-letter{
    font-size: 30px;
    color: #87CEFA;
    font-weight: lighter;
}

h2.tm-section-title {
    color:  rgb(90, 148, 235);
    font-size: 200%;
}

.tm-team-description-container > p{
    text-indent: 2em; 
    font-style: italic; 
    color:  rgb(173, 171, 171);
}

p.tm-section-description:last-of-type {
    font-style: normal;  
    color: black;
}

p.tm-section-description::first-letter{
    font-size: 170%;
    color:#87CEFA;
}

.tm-team-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-2-col > div{
    float: left;
    box-sizing: border-box; 
    align-items: center;    
}

.flex-item:first-child{
     width: 35%;
     height: 58vh;        
}

.flex-item:last-child{
   width: 65%; 
}

.flex-item>img{
    width: 100%;    
    margin-top: 0;
}

.box-bg:hover{
    background-color: rgb(112, 234, 255);
}

.tm-box-bg-title:hover{
    color: white;
}

#home{
    box-shadow: 0px 0px 8px 0px;
}

.tm-banner{
    background: rgb(231, 231, 231);
    background-clip:padding-box;
}

div.tm-banner-inner{
    background-color: white;
}

.tm-content-box{
    box-shadow: 0px 0px 8px 0px;
}

.tm-sidebar{
    box-shadow: 0px 0px 8px 0px;
}

.tm-content-box.flex-2-col:first-child:before{
    content: '';
    position: absolute;
    display:inline-block;
    width: 0;
    height: 0;
	border-top: 35px solid rgb(128, 198, 255); 
	border-right: 280px solid transparent;	
}

 .padding-medium a:hover{
    color: black;
    text-decoration: none;
 }

 .padding-medium a:visited{
    text-decoration: underline;
 }

 .text::after{
    content: 'New';
    position: relative;
    color: red;
    font-size: 9px;
    font-weight: bold;
    bottom: 7px; 
 }

 .box.box-work{
    justify-content: center;
    background-color: rgb(241, 235, 235); 
 }
 
 .box{
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px; 
 }

 .box.box-work> img{
    margin-left: 7px;
    margin-top: 7px;
    width: 95%;
    height: auto;  
 }

 .box.box-work:nth-child(even){
    font-family: Comic Sans MS, Comic Sans, cursive;     
 }

 .box.box-work:nth-child(odd){
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color:white;
 }

 .box.box-work > div > p{
    color:rgb(106, 104, 104);
 }

 .box.box-work > div > p::first-letter{
    color:rgb(70, 69, 69);
    font-size: 150%;
 }

.mandatory-field::after{
    content: '*';
    color: red;
    font-weight: bold; 
 }

 .submit-btn{
    color: #61a8e6;
    background-color: #ffffff;
    border-color: #61a8e6;
    width: 170px;
    height: 50px;  
 }

 .btn{
    float: right;
 }
 
 .btn:hover{
    color: #ffffff;
    background-color: #61a8e6;
    border-color: #61a8e6;
 }

 .tm-nav-item-link:hover{
    background-color: lightgray;
 }

 .carousel-item.active > div > div > h2{
    color: gainsboro;
    letter-spacing: 5px;
 }
